{% extends 'base.html.twig' %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body%}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Travel & Gossip</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/traveling">Les voyages <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new">Ajouter un voyage</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/newCategory">Ajouter une catégorie de voyage</a>
                </li>   
        </div>
    </nav>
     <img src="https://i1.wp.com/travelshopgirl.com/wp-content/uploads/2014/06/wishyouwerehere.png?w=1037&h=471&crop&ssl=1" width = 1500px height=400px></img>     
    <div class="jumbotron">

    
    <h2>Nouvelle catégorie de voyage</h2>
    
    
    {{form_start(form)}}

        {{form_widget(form)}}

        <button type="submit" class="btn btn-primary">
            Soumettre
        </button>
        

    {{form_end(form)}} 
</div>
{% if editedMode %}
        <p class="lead">une nouvelle catégorie a été ajoutée ! </p>
        <hr class="my-4">           
        
{% endif %}

<section class="categories">
<h2>Les catégories existantes</h2>
        <div class = "row">
        {% for categorie in categories %}
            <div class="jumbotron">
            <h1 class="display-3"> {{categorie.name}} </h1>               
            </div>            
        {% endfor %} 
        
{% endblock %}


